table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #4caf50;
  color: white;
  text-align: left;
  padding: 8px 12px;
}
td{
    border: .2px solid grey;
}
.nested_table{
    width: auto;
}
